// query variables
$max-767: '(max-width: 767px)';
$min-320: '(min-width: 320px)';
$min-768: '(min-width: 768px)';
// end query veriables
// color variables
$LemonChiffon: rgba(255, 250, 205, 1);
$DarkOliveGreen1: rgba(202, 255, 112, 1);
$DarkOliveGreen2: rgba(188, 238, 104, 1);
$DarkOrchid: rgba(153, 50, 204, 1);
$Ivory2: #eeeee0;
$Ivory3: #cdcdc1;
$CornflowerBlue: #6495ed;
$MediumVioletRed: #c71585;
$NavBarBackground: #fff5e7;
$Chocolate1: #ff7f24;
$JumbotronBackground: #ffe3cd;
//end color variables